*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}
/* Classe base */
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}

.j-spacebetween{
    justify-content: space-between;
}
.gap1{
    gap:1em;
}

body {
    overflow-x: hidden;
    background-color: #212121;
    font-family: "roboto";
    /*momentaneo*/
    color: rgb(206, 206, 206);
}



/* NAVBAR */

.logo{
    width: 6em;
    height: auto;
    border: 0.6em solid black;
    border-radius: 50%;
}


nav{
    margin-left: 2em;
    margin-top: 2em;
    position: fixed;
    z-index: 10;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}


/*First secrtion*/

.textgradient{
    width: 100%;
    height: 10vh;
}

.textgradient::before{
    background-image: linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgb(0, 0, 0) 100% );
    background-image: -moz-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgb(0, 0, 0) 100% );
    background-image: -ms-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgb(0, 0, 0) 100% );
    background-image: -o-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgb(0, 0, 0) 100% );
    background-image: -webkit-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgb(0, 0, 0) 100% );
    content: "\00a0";
    height: 10vh;
    position: absolute;
    width: 100%;
}

.textgradient h1{
    margin-left: 0.2em;
    -webkit-text-stroke: 0.01px rgb(202, 202, 202);
    font-size: 10vh;
}

.D-home{
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;

}
.home-img{
    height: 100vh;
    width: auto;
    margin-left: 50vh;
}

.gradientH{

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 98.44%);
    
    height: 100vh;
    width: 100%;
}

.home{
    background: url('/public/images/HomeWallPaper.png') no-repeat center center/cover;;

}

.homegradient{
    height: 100%;
    width: 100%;
    background-color: #212121;
}
.homegradient::before{
    background-image: linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgba(0, 0, 0, 0.692) 100% );
    background-image: -moz-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgba(0, 0, 0, 0.692) 100% );
    background-image: -ms-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgba(0, 0, 0, 0.692) 100% );
    background-image: -o-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgba(0, 0, 0, 0.692) 100% );
    background-image: -webkit-linear-gradient( top, 
        rgba( 255, 255, 255, 0 ) 0%, 
        rgba(0, 0, 0, 0.692) 100% );
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
}
.category{
    position: fixed;
    color: white;
    /* margin-top: -7em;*/
    padding-bottom: 2em;
    margin-left: 2em;
    font-size: 16px;
    z-index: 5;
    line-height: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}


/* ABOUT ME */
.aboutme{
    background: linear-gradient(269.58deg, rgba(0, 0, 0, 0.88) 29.35%, rgba(0, 0, 0, 0) 100.3%);
}
.glitch{
    width: auto;
    height: 180vh;
    transform: translateY(-45em);
}

.sidebar p{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 15px;
    margin-right: -20em;
    padding: 1em 10em;
}

.sidebar h1{
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-right: -30em;
    padding: 0em 10em;
    margin-top: 4em;
}

.sidebar{
    background: #262626;
    width: 20vw;
}

.sidebar h2{
    font-weight: 400;
}

.button{
    width: 296px;
    height: 66px;
    left: 275px;
    top: 1733px;
    color: white;
    
    background: #000000;
    border-radius: 15px;
    margin-left: 18em;
    
    font-weight: 300;
}

.button_white{
    background: white;
    height: 3em;
    width: 3em;
    border-radius: 10px;
    margin-left: 1em;
    flex: none;
    
}

.arrow{
    transform: rotateZ(-90deg);
}

.button:hover{
    background: white;
}


.button:hover .button_white{
    background: black;
}

.button:hover .TikTok{
    color: #000000;
}

.gallery{
    background: url('/public/images/Group\ 7.png') no-repeat center center/cover;;
}

.gallery img{
    width: auto;
    height: 60em;
}

.gallery .h1B{


    width: 66px;
    height: 791px;
    left: 632px;
    top: 2198px;

    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 300; */
    font-size: 96px;
    /*display: flex;
    align-items: center;
    text-align: center; */

    -webkit-text-stroke: 0.01px rgb(202, 202, 202);

}

.h1G{
    display: none;
}

.button-gal{
    width: 296px;
    height: 66px;
    color: white;
    
    background: #000000;
    border-radius: 15px;
}
.button_white-gal{
    background: white;
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_white-gal img{
    width: 1.5em;
    height: 1.5em;
}

.button-gal h2{
    font-weight: 400;
}

.eye{
    transform: rotateZ(180deg);
}

.button-gal:hover{
    background: white;
}


.button-gal:hover .button_white{
    background: black;
}

.button-gal:hover h2{
    color: #000000;
}

/*Programming*/
.programming{
    background: #3D5292;
}
canvas {
    overflow-x: hidden;
    display: block;
  }

.program span{
    font-weight: 300;
}

.program{
    z-index: 6;
}

.program p{
    text-decoration: none;
    font-size: 14px;
    margin-right: -30em;
    padding: 1em 17em;
}
